@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header */
header {
  background-color: rgb(35, 132, 223);
  text-align: center;
  color: white;
  padding: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  display: inline;
  margin-right: 20px;
}

main {
  width: 100%;
}

/*  contain  */
.main {
  position: relative;
}

.main img {
  width: 100%;
  height: 520px;
  object-fit: cover;
}

.main h1 {
  position: absolute;
  top: 270px;
  left: 690px;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 50px;
  background-color: #007bff86;
}

.main span {
  color: yellow;
}

/* 写真６枚 */
.pictures {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
  height: 100vh;
}

.picture {
  width: 45%;
  margin-bottom: 20px;
  padding: 10px;
}

.picture h2 {
  margin-top: 40px;
  margin-bottom: 30px;
}

.picture p {
  margin: 20px 0;
}

.pic {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}


.pic img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.pic img:hover {
  transform: scale(1.2, 1.0);
}

button {
  background-color: skyblue;
  padding: 10px 50px;
  border: 1px solid gray;
  font-weight: bold;
}

button:hover {
  background-color: aquamarine;
}

.red {
  color: red;
  font-size: 24px;
}

@media (max-width: 760px) {
  .pictures {
    justify-content: center;
  }

  .picture {
    width: 90%;
  }

  .main h1 {
    position: absolute;
    top: 100px;
    left: 10%;
    width: 70%;
    font-size: 24px;
    padding: 40px 0;
    text-align: center;
  }
}

@media (max-width: 500px) {
  .main h1 {
    position: absolute;
    top: 150px;
    left: 25%;
    width: 50%;
    height: 30vh;
    font-size: 24px;
  }
}